@model Proto1.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            Contraseña
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @{ 
                if (Model.is_active == 0)
                {
                    @:Inhabilitado
                }

                if(Model.is_active == 1)
                {
                    @:Habilitado
                }
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Update", new { id = Model.id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
