@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Antara Mining<br />
    Antofagasta, Washington 2701, Piso 2<br />
    <abbr title="Phone">Teléfono:</abbr>
    (55)2252840
</address>

<address>
    <strong>Rolando Jofré:</strong>   <a href="mailto:rolando.jofre@antaramining.cl">rolando.jofre@antaramining.cl</a><br />
    <strong>Rodrigo Pizarro:</strong> <a href="mailto:rodrigo.pizarro@antaramining.cl">rodrigo.pizarro@antaramining.cl</a>
</address>